<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    <%= title%>
</title>

<link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/admin/css/datepicker3.css" rel="stylesheet">
<link href="/static/admin/css/bootstrap-table.css" rel="stylesheet">
<link href="/static/admin/css/styles.css" rel="stylesheet">

<!--Icons-->
<script src="/static/admin/js/lumino.glyphs.js"></script>

<!--[if lt IE 9]>
<script src="/static/admin/js/html5shiv.js"></script>
<script src="/static/admin/js/respond.min.js"></script>
<![endif]-->