<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li class="active"><a href="/admin"><svg class="glyph stroked dashboard-dial">
                    <use xlink:href="#stroked-dashboard-dial"></use>
                </svg> Dashboard</a></li>
        <li><a href="/admin/users"><svg class="glyph stroked male user ">
                    <use xlink:href="#stroked-male-user" />
                </svg>Quản lý thành viên</a></li>
        <li><a href="/admin/categories"><svg class="glyph stroked open folder">
                    <use xlink:href="#stroked-open-folder" />
                </svg>Quản lý danh mục</a></li>
        <li><a href="/admin/products"><svg class="glyph stroked bag">
                    <use xlink:href="#stroked-bag"></use>
                </svg>Quản lý sản phẩm</a></li>
        <li><a href="comment.html"><svg class="glyph stroked two messages">
                    <use xlink:href="#stroked-two-messages" />
                </svg> Quản lý bình luận</a></li>
        <li><a href="ads.html"><svg class="glyph stroked chain">
                    <use xlink:href="#stroked-chain" />
                </svg> Quản lý quảng cáo</a></li>
        <li><a href="setting.html"><svg class="glyph stroked gear">
                    <use xlink:href="#stroked-gear" />
                </svg> Cấu hình</a></li>
    </ul>
</div>